{% extends 'navClient.html.twig' %}

{% block title %}GSBloc +{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    a.blanc { color:white; }
</style>

<div class="example-wrapper">

<h1>Modifier Visite</h1>


 <form action="/valideModificationVisite" method="post">
        <div class="form-group row">
    <label class="col-sm-3 col-form-label">Date de Visite</label>
    <div class="col-sm-7">
      <input type="date" class="form-control form-control-lg" name="date" >
    </div>
  </div>
<input type="hidden" value={{visite.getId()}} name ="id">

<input type="submit" value="modifier" class="btn btn-success">
     
        </form>

</div>
{% endblock %}